.navbarstyle {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:15%;
    background-color:#17181B;
    text-align:center;
    border-right:1px solid #202226;
    overflow:auto;
}

.buttonstyle {
    width:100%;
    text-align:center;
    margin:0;
    color:rgba(255,255,255,0.3);
    line-height:35px;
    background:none;
    border:none;
    border-bottom:1px solid rgba(255,255,255,0.1);
}

.buttonstyle_red {
    width: 96%;
    text-align: left;
    margin: 0;
    line-height: 15px;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    font-style: italic;
    color: rgba(255, 64, 0, 0.6);
}

.buttonstyle_green {
    width: 96%;
    text-align: left;
    margin: 0;
    line-height: 15px;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    font-style: italic;
    color: rgba(64, 255, 0, 0.6);
}

.NaviSubButtons {
    display:none;
}

.buttonstyle_small {
    border:none;
    text-align:right;
}

.imageDiv {
    float: left;
    width: 198px;
    height: 198px;
    margin: 2px;
    display: flex;
    position: relative;
}

.thumbnail {
    max-width: 198px;
    max-height: 198px;
    width: auto;
    height: auto;
    border: 0;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.addImage {
    border:2px solid;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.thumbnail:hover {
    cursor:pointer;
    opacity:0.3;
}


.homepage {
    width:100%;
    height:100%;
    background-color: #7373;
}

.main_page {
    position:fixed;
    left:15%;
    width:85%;
    height:100%;
}

.deleteIcon {
    z-index: 10;
    position: fixed;
    margin: 5px 2px;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.5;
}

.editIcon {
    z-index: 10;
    position: fixed;
    margin: 5px 30px;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.5;
}

.deleteIconSmall {
    z-index: 10;
    margin-right: 2px;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.5;
}

.editIconSmall {
    z-index: 10;
    margin-right: 2px;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.5;
}

.deleteIcon:hover {
    opacity:1;
}

.editIcon:hover {
    opacity: 1;
}

.overlay input {
    width:100%;
    margin:5px 0;
}

.columnStyle {
    margin: 0;
    color: rgba(215,215,215,0.3);
    background-color: #17181B;
    border: 1px solid rgba(215,215,215,0.1);
}

legendStyle {
    text-align:left;
    vertical-align:top;
    font-size:medium;
}

.bigImageDiv {
    height:100%;
    overflow:auto;
}

.form {
    width:50%;
    margin:auto;
    margin-top:5%;
}

.form2 {
    width: 80%;
    margin: auto;
}

.form3 {
    width: 100%;
    margin: auto;
}

.dropzone {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color: #7373;
    align-self: center;
}

.leftalign {
    justify-items: left;
    float: left;
    text-align: left;
    justify-self: flex-start;
}

.jw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1.0;
    /* z-index must be higher than .modal-background */
    z-index: 1000;
    /* enables scrolling for tall modals */
    overflow: auto;
    pointer-events: auto;
}

.jw-modal-body {
    padding: 20px;
    background: #fff;
    /* margin exposes part of the modal background */
    margin: 40px;
    z-index: 1000;
    pointer-events: auto;
}


.jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;
    /* z-index must be below .modal and above everything else  */
    z-index: 999;
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}


    